<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs")%>
<body >
    <%- include("./partials/nav.ejs")%>
    <div style="text-align: center;">

        <h1>OOPS!</h1>
        <p>that page was not found</p>
    </div>
    <%- include("./partials/footer.ejs")%>
</body>
</html>