<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs")%>
<body>
    <%- include("./partials/nav.ejs")%>
        <div class="blogs content">
      <h2>About Us</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
        blanditiis repellendus exercitationem quasi maxime quos, eaque ea eius
        accusantium est voluptate, impedit expedita tempore officiis optio
        cumque rem saepe facere?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
        blanditiis repellendus exercitationem quasi maxime quos, eaque ea eius
        accusantium est voluptate, impedit expedita tempore officiis optio
        cumque rem saepe facere?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
        blanditiis repellendus exercitationem quasi maxime quos, eaque ea eius
        accusantium est voluptate, impedit expedita tempore officiis optio
        cumque rem saepe facere?
      </p>
    </div>
    <%- include("./partials/footer.ejs")%>
</body>
</html>